/*@media (min-width: 1200px) and (max-width: 1240px) {
.heading-text {
	width: 580px;
}
	

.instagram_text {
	font-size: 0.8rem;
	position: absolute;
	top: 35px;
	left: 50px;
}

	
}*/


@media (min-width: 992px) and (max-width: 1199.98px) {

	.instagram_text {
		top: 33px;
		left: 45px;
	}

	h2 {
		font-size: 1.8rem;
	}

	h2.deco::before {
		left:28%;
}

	h2.deco::after {
		right:28%;
}

	h4 {
		font-size: 1.3rem;
	}
	
.bg_img1{
  padding: 12rem 0;
}

.bg_img2{
  padding: 12rem 0;
}
	
.bg_img3{
  padding: 12rem 0;
}
	
	

#price .aroma-container, .body-container {
  height: 640px;

}

/*--------------------------------------------------
#　料金/フェイシャルメニュー/左
--------------------------------------------------*/

.facial-pos-l {
  position: relative;
  top: -190px;
  left: 70px;
}

/*--------------------------------------------------
#　料金/フェイシャルメニュー/右
--------------------------------------------------*/

.facial-pos-r {
  position: relative;
  top: -190px;
  left: 75px;	
  z-index: 2;
}
	
.shira-hukidashi {   /*フェイシャルのしらのコンテナ*/
  position: relative;
  top: -100px;
  z-index: 1;
}


	
	
/*--------------------------------------------------
#　料金/アロマメニュー/吹き出し左・右
--------------------------------------------------*/

.aroma-pos-l {
  position: relative;
  top: -230px;
  right: -70px;
}

.aroma-pos-r {
  position: relative;
  top: -210px;
  left: 70px;
  z-index: 2;
}

.shira-hukidashi-1	{   /*アロマのしらのコンテナ*/
  position: relative;
  top: -140px;
  z-index: 1;
}
	
	

/*--------------------------------------------------
#　料金/痩身メニュー/左
--------------------------------------------------*/

.body-pos-l {
  position: absolute;
  top: 80px;
  right: 110px;
}



.body-pos-c {
  position: relative;
  top: -210px;
  right: 10px;
}

.shira-container {    /*痩身のしらのコンテナ*/
	position: relative;
	top: -30px;
	z-index: 1;
	text-align:center;
}

/*--------------------------------------------------
#　料金/痩身メニュー/右
--------------------------------------------------*/

.body-pos-r {
  position: absolute;
  top: 65px;
  left: 55px;
  z-index: 2;
	
}
	
#price .time {
  font-size: 1rem;
  /*margin-right: 1rem;*/
}

#price .price {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1rem;
}

	
/*--------------------------------------------------
#　Slim/メニュー/きち
--------------------------------------------------*/

.kichi {
height: 250px;

}


.kichi .kichi-text-l {
  font-size: 1rem;
  position: absolute;
  top: 60px;
  right: 40px;
  transform: rotate(-15deg);
}


.kichi .kichi-text-c {
  font-size: 0.8rem;
  margin-bottom: 0px;
  position: absolute;
  left: 30px;
  top: -20px;
}

.kichi .kichi-text-r {
  font-size: 1rem;
  position: absolute;
  top: 60px;
  right: 55px;
  transform: rotate(15deg);
}



	
	
	
/*--------------------------------------------------
#　料金/メニュー/しらす
--------------------------------------------------*/

.shira-text-1 {
  font-size: 0.8rem;
  position: absolute;
  transform: rotate(15deg);
  right: 150px;
  top: -10px;
}

.shira-image-1 {
	width: 20%;
}
	
#price .aroma-box, .body-box {
  height: 500px;

}

	
.table th,
.table td {
  padding: 0.5rem;
  border: none;

}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 4px;  /* 5px の値を変更 */
}
	
/*--------------------------------------------------
#　痩身/スマティ/画像
--------------------------------------------------*/

#slim img[src$="img/body.png"]	{
  		width: 70%;
	}

/*--------------------------------------------------
#　Slim/メニュー/きち
--------------------------------------------------*/

#slim .kichi-container {
	position: relative;
	top: 50px;
}

#slim .kichi {
  z-index: 1;
  position: relative;
  top: -10px;
}

#slim .kichi-image {
  position: relative;
  width: 15%;

}

#slim .kichi-text-l {
  font-size: 1rem;
  top: 60px;
  right: 40px;
}


#slim .kichi .kichi-text-c {
  font-size: 0.8rem;
  margin-bottom: 0px;
  left: 10px;
  top: -10px; 	
}

#slim .kichi-text-r {
  font-size: 1rem;
  top: 60px;
  right: 95px;

}




	
}

@media (min-width: 768px) and (max-width: 991.98px) {

	.instagram_text {
		font-size: 0.5rem;
		position: absolute;
		top: 30px;
		left: 33px;
	}

	h2 {
		font-size: 1.6rem;
	}

	h2.deco::before {
		left:25%;
	}

	h2.deco::after {
		right:25%;
	}

	h4 {
		font-size: 1rem;
	}
	.bg_img1{
	  padding: 10rem 0;
	}

	.bg_img2{
	  padding: 10rem 0;
	}

	.bg_img3{
	  padding: 10rem 0;
	}
	
	
	.heading-top {
		font-size: 2rem;
	}

	.heading-top1 {
		font-size: 1rem;
	}
	
	.heading-sub {
	font-size: 2rem;
}


	
	.card-deck .card {
		margin: 0 3px;
	}
	
	.card-body {
    padding: 0;
}
	
	h5 {
		font-size: 1rem;
	}
	.menu .menu-info {
  		padding: 20px 10px;
}
#price .aroma-container, .body-container {
  height: 550px;

}

#price .body-box {
  height: 350px;

}
	
/*--------------------------------------------------
#　フェイシャル/画像
--------------------------------------------------*/

#facial img[src$="img/menu_facial.jpg"]	{
  		width: 100%;
	}

	
	
/*--------------------------------------------------
#　料金/フェイシャルメニュー/左
--------------------------------------------------*/

.facial-pos-l {
  position: relative;
  top: -140px;
  left: 40px;
}

/*--------------------------------------------------
#　料金/フェイシャルメニュー/右
--------------------------------------------------*/

.facial-pos-r {
  position: relative;
  top: -140px;
  left: 50px;	
  z-index: 2;
}

.shira-hukidashi {   /*フェイシャルのしらのコンテナ*/
  position: relative;
  top: -50px;
  z-index: 1;
}

			
		
/*--------------------------------------------------
#　アロマ//画像
--------------------------------------------------*/

#aroma img[src$="img/menu_aroma.jpg"]	{
  		width: 100%;
	}

	
/*--------------------------------------------------
#　料金/アロマメニュー/吹き出し左・右
--------------------------------------------------*/


.aroma-pos-l {
  position: relative;
  top: -175px;
  right: -50px;
}


.aroma-pos-r {
  position: relative;
  top: -155px;
  left: 45px;
  z-index: 2;
}

.shira-hukidashi-1	{   /*アロマのしらのコンテナ*/
  position: relative;
  top: -100px;
  z-index: 1;
}

	
	
/*--------------------------------------------------
#　料金/痩身メニュー/左
--------------------------------------------------*/

.body-pos-l {
  position: absolute;
  top: 60px;
  right: 90px;
}



.body-pos-c {
  position: relative;
  top: -175px;
  right: 13px;
}



/*--------------------------------------------------
#　料金/痩身メニュー/右
--------------------------------------------------*/

.body-pos-r {
  position: absolute;
  top: 55px;
  left: 45px;
  z-index: 2;
	
}

.shira-container {   /*痩身のしらのコンテナ*/
	position: relative;
	top: -20px;
	z-index: 1;
	text-align:center;
}

	
	
	
#price .time {
  font-size: 0.9rem;
  /*margin-right: 1rem;*/
}

#price .price {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1rem;
}

	
	
	
/*--------------------------------------------------
#　料金/メニュー/しらす
--------------------------------------------------*/

.shira-text-1 {
  font-size: 0.6rem;
  position: absolute;
  transform: rotate(15deg);
  right: 100px;
  top: -10px;
}

.shira-image-1 {
	width: 20%;
}

#price .table {
  width: 65%;

}

#price .table-1 {
  width: 110%;
}
	
	
	
.table th,
.table td {
  padding: 0.5rem;
  border: none;

}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0px;  /* 5px の値を変更 */
}

/*--------------------------------------------------
#　痩身/キャビリポとスマティ/画像
--------------------------------------------------*/

#slim img[src$="img/body.png"]	{
  		width: 90%;
	}

#slim img[src$="img/menu_slim.jpg"]	{
  		width: 100%;
	}

	
	
/*--------------------------------------------------
#　Slim/メニュー/きち
--------------------------------------------------*/

#slim .kichi-container {
	position: relative;
	top: 25px;
}

#slim .kichi {
  z-index: 1;
  position: relative;
  top: -20px;
}

#slim .kichi-image {
  position: relative;
  width: 16%;

}

#slim .kichi-text-l {
  font-size: 0.8rem;
  top: 55px;
  right: 45px;
}


#slim .kichi .kichi-text-c {
  font-size: 0.6rem;
  margin-bottom: 0px;
  left: 10px;
  top: -5px; 	
}

#slim .kichi-text-r {
  font-size: 0.8rem;
  top: 55px;
  right: 50px;

}

.inquiry-box {
	margin-top: 1rem;
}

#address .btn-inquiry {
color: white;
background-color: #3dbf87;
width: 40%;
margin-right: 0.2rem;
}   

#address .btn-inquiry:hover {
color: #4d1f0e;
text-decoration: none;
background-color: #aae1c8;

}

#address .btn-reserv {
color: white;
background-color: #ff9191;
width: 40%;
margin-left: 0.2rem;
}   

#address .btn-reserv:hover {
color: #4d1f0e;
text-decoration: none;
background-color: #fdcece;

}

#address .btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.logoname {
  font-family:'APJapanesefontT';
	font-size: 2.2rem;


}
	
}


	
	
	
@media (min-width: 576px) and (max-width: 767.98px) {
	
	.hukidashi-container {
		display: none;
		
	}


	h2 {
		font-size: 1.6rem;
	}

	h2.deco::before {
		left:18%;
}

	h2.deco::after {
		right:18%;
}

	h4 {
		font-size: 1.4rem;
	}
	
	.bg_img1{
	  padding: 8rem 0;
	}

	.bg_img2{
	  padding: 8rem 0;
	}

	.bg_img3{
	  padding: 8rem 0;
	}
	
	.heading-top {
		font-size: 2rem;
	}

	.heading-top1 {
		font-size: 1rem;
	}
	
	
	section#bg_sub1, section#bg_sub2, section#bg_sub3, section#bg_sub4, section#bg_sub5 {
  	padding: 6rem 0;
	}
	
	.heading-sub {
	font-size: 2rem;
}

	
	.card-body {
    padding: 0;
}

#price .aroma-container {
  height: 1200px;

}

#price .body-container {
  height: 1650px;
	

}
	
	
#price .body-box {
  position: relative;
  height: 1550px;
  top: -80px;
}
	

/*--------------------------------------------------
#　フェイシャル/画像
--------------------------------------------------*/

#facial img[src$="img/menu_facial.jpg"]	{
  		width: 100%;
	}

	
	
/*--------------------------------------------------
#　料金/フェイシャルメニュー/左
--------------------------------------------------*/

.facial-pos-l {
  position: relative;
  top: -220px;
  text-align: center;
}

/*--------------------------------------------------
#　料金/フェイシャルメニュー/右
--------------------------------------------------*/
 
.facial-pos-r {
  position: relative;
  top: -250px;
  text-align: center;
}

		
/*--------------------------------------------------
#　アロマ//画像
--------------------------------------------------*/

#aroma img[src$="img/menu_aroma.jpg"]	{
  		width: 100%;
	}

/*--------------------------------------------------
#　料金/アロマメニュー/吹き出し左・右
--------------------------------------------------*/
.aroma-pos-l {
  position: relative;
  top: -255px;
  text-align: center;
}

.aroma-pos-r {
  position: relative;
  top: -280px;
  text-align: center;
}

	
	
	
/*--------------------------------------------------
#　料金/メニュー/しらす
--------------------------------------------------*/

.shira-container {
	top: -270px;
	text-align:right;
}

.shira-text-1 {
  font-size: 0.6rem;
  position: absolute;
  transform: rotate(15deg);
  right: 0px;
  top: -10px;
}

.shira-image-1 {  /*しらの画像*/
	width: 20%;
	text-align: right;

}

.shira-hukidashi {   /*フェイシャルのしらのコンテナ*/
  position: relative;
  top: -60px;
  text-align: right!important;
	
}

.shira-hukidashi-1	{   /*アロマのしらのコンテナ*/
  position: relative;
  top: 350px!important;
  text-align: right!important;
}

#price img[src$="img/deco_r.png"]	{
  		transform: rotate(-15deg) translateY(-30px) translateX(15px);
	}
	
	
#price img[src$="img/deco_l.png"]	{
  		transform: rotate(15deg)!important;
	}

#price img[src$="img/deco_r_c.png"]	{
  		transform: scale(-1, 1) rotate(-15deg)!important;
	}
		
	
/*--------------------------------------------------
#　痩身/キャビリポとスマティ/画像
--------------------------------------------------*/

#slim img[src$="img/body.png"]	{
  		width: 30%;
		margin-bottom: 3rem;
	}

#slim img[src$="img/menu_slim.jpg"]	{
  		width: 100%;
	}

	
	
/*--------------------------------------------------
#　Slim/メニュー/きち
--------------------------------------------------*/

#slim .kichi-container {
	position: relative;
	top: 25px;

}

#slim .kichi {
  z-index: 1;
  position: relative;
  top: -10px;
}

#slim .kichi-image {
  position: relative;
  width: 18%;

}

#slim .kichi-text-l {
  font-size: 0.8rem;
  top: 65px;
  right: 50px;
}


#slim .kichi .kichi-text-c {
  font-size: 0.6rem;
  margin-bottom: 0px;
  left: 10px;
  top: -5px; 	
}

#slim .kichi-text-r {
  font-size: 0.8rem;
  top: 65px;
  right: 60px;

}

	
	
/*--------------------------------------------------
#　料金/痩身メニュー/左
--------------------------------------------------*/

.body-pos-l {
  position: absolute;
  top: 120px;
  left: 110px;
}



.body-pos-c {
  position: absolute;
  top: 150px;
  right: 190px;
	
}



/*--------------------------------------------------
#　料金/痩身メニュー/右
--------------------------------------------------*/

.body-pos-r {
  position: absolute;
  top: 110px;
  right: 100px;
  z-index: 2;
	
}
		
	
	
#price .time {
  font-size: 0.9rem;
  /*margin-right: 1rem;*/
}

#price .price {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1rem;
}

	
	
.table th,
.table td {
  padding: 0.5rem;
  border: none;

}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 2px;  /* 5px の値を変更 */
}
	
/*--------------------------------------------------
#　アクセス
--------------------------------------------------*/
	
.inquiry-box {
	margin-top: 1.5rem;
}

#address .btn-inquiry {
color: white;
background-color: #3dbf87;
width: 40%;
margin-right: 0.2rem;
}   

#address .btn-inquiry:hover {
color: #4d1f0e;
text-decoration: none;
background-color: #aae1c8;

}

#address .btn-reserv {
color: white;
background-color: #ff9191;
width: 40%;
margin-left: 0.2rem;
}   

#address .btn-reserv:hover {
color: #4d1f0e;
text-decoration: none;
background-color: #fdcece;

}

#address .btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.logoname {
  font-family:'APJapanesefontT';
	font-size: 2.2rem;


}

	
	
	
}
		
	



@media (max-width: 575.98px) {

	.hukidashi-container {
		display: none;
		
	}


	h2 {
		font-size: 1.3rem;
	}

	h2.deco::before {
		left:8%;
}

	h2.deco::after {
		right:8%;
}
	h4 {
		font-size: 1.2rem;
	}

	.bg_img1 {
	  padding: 6rem 0;
	}

	.bg_img2 {
	  padding: 6rem 0;
	}

	.bg_img3 {
	  padding: 6rem 0;
	}
	
	
	
	section#bg_sub1, section#bg_sub2, section#bg_sub3, section#bg_sub4, section#bg_sub5 {
  	padding: 6rem 0;
	}

	.heading-top {
		font-size: 1.5rem;
	}

	.heading-top1 {
		font-size: 1rem;
	}
	
	.heading-sub {
	font-size: 1.5rem;
}

#price .aroma-container {
  height: 1150px;

}

#price .body-container {
  height: 1580px;

}

#price .facial-col .col-md-5 {
	height: 400px;
}
	
#price .aroma-col .col-md-5 {
	height: 400px;
}
	
#price .body-col .col-md-5 {
	height: 450px;
}
	
	
	
.card-body {
    padding: 0;
}
	
.btn-reserv {
color: white;
background-color: #ff9191;
width: 100%;
margin-left: 0;
}   
	
	
.btn-inquiry {
color: white;
background-color: #3dbf87;
width: 100%;
margin-right: 0;
margin-bottom: 1rem;
}   

.inquiry_container {
	width: 100%;
}	
	

/*--------------------------------------------------
#　料金/メニュー/しらす
--------------------------------------------------*/

.shira-text-1 {
  font-size: 0.6rem;
  position: absolute;
  transform: rotate(15deg);
  right: 0px;
  top: -10px;
}

.shira-image-1 {  /*しらの画像*/
	width: 20%;
	text-align: right;

}

#price img[src$="img/deco_r.png"]	{
  		transform: rotate(-15deg) translateY(-30px) translateX(20px);
	}
	
	
#price img[src$="img/deco_l.png"]	{
  		transform: rotate(15deg)!important;
	}

#price img[src$="img/deco_r_c.png"]	{
  		transform: scale(-1, 1) rotate(-15deg) translateY(30px)!important;
	}
		
	
/*--------------------------------------------------
#　フェイシャル/画像
--------------------------------------------------*/

#facial img[src$="img/menu_facial.jpg"]	{
  		width: 100%;
	}

/*--------------------------------------------------
#　料金/フェイシャルメニュー/左
--------------------------------------------------*/

.facial-pos-l {
  top: -240px;
  left: 100px;
}

/*--------------------------------------------------
#　料金/フェイシャルメニュー/右
--------------------------------------------------*/
 
.facial-pos-r {
  top: -260px;
  left: 80px;
}

.shira-hukidashi {   /*フェイシャルのしらのコンテナ*/
  top: -10px;
  text-align: right!important;
	
}


	
		
/*--------------------------------------------------
#　アロマ//画像
--------------------------------------------------*/

#aroma img[src$="img/menu_aroma.jpg"]	{
  		width: 100%;
	}

/*--------------------------------------------------
#　料金/アロマメニュー/吹き出し左・右
--------------------------------------------------*/
.aroma-pos-l {
  top: -290px;
  left: 90px;
}

.aroma-pos-r {
  top: -290px;
  text-align: center;
}


.shira-hukidashi-1	{   /*アロマのしらのコンテナ*/
  top: 0px!important;
  text-align: right!important;
}

	
	
/*--------------------------------------------------
#　痩身/キャビリポとスマティ/画像
--------------------------------------------------*/

#slim img[src$="img/body.png"]	{
  		width: 30%;
		margin-bottom: 2rem;
	}

#slim img[src$="img/menu_slim.jpg"]	{
  		width: 100%;
	}

/*--------------------------------------------------
#　料金/痩身メニュー/左
--------------------------------------------------*/

.body-pos-l {
  position: absolute;
  top: 110px;
  left: 110px;
}



.body-pos-c {
  position: absolute;
  top: 160px;
  right: 150px;
	
}



/*--------------------------------------------------
#　料金/痩身メニュー/右
--------------------------------------------------*/

.body-pos-r {
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 2;
	
}
		
.shira-container {   /*痩身のしらのコンテナ*/
	top: -30px;
	text-align:right;
}


	
/*--------------------------------------------------
#　Slim/メニュー/きち
--------------------------------------------------*/

#slim .kichi-container {
	position: relative;
	top: 25px

}

#slim .kichi {
  z-index: 1;
  position: relative;
  top: -10px;
}

#slim .kichi-image {
  position: relative;
  width: 18%;

}

#slim .kichi-text-l {
  font-size: 0.8rem;
  top: 60px;
  right: 50px;
}


#slim .kichi .kichi-text-c {
  font-size: 0.6rem;
  margin-bottom: 0px;
  left: 10px;
  top: -5px; 	
}

#slim .kichi-text-r {
  font-size: 0.8rem;
  top: 60px;
  right: 60px;

}

/*--------------------------------------------------------------
# Googleマップ用レイアウト
--------------------------------------------------------------*/
section#map div {
	padding-top: 0px;
}
section#map .embed-responsive-16by9 {
  padding-top: 40%;     /* 16:9のアスペクト比を調整 */
}

/*--------------------------------------------------
#　アクセス
--------------------------------------------------*/
	
.inquiry-box {
	margin-top: 1.5rem;
}

#address .btn-inquiry {
width: 100%;
margin-right: 0rem;
}   


#address .btn-reserv {
width: 100%;
margin-left: 0rem;
}   



.logoname {
  font-family:'APJapanesefontT';
	font-size: 2.1rem;


}


	
}

@media (max-width: 479px) {  

.table th,
.table td {
  padding: 0.5rem;
  border: none;

}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px;  /* 5px の値を変更 */
}
	
	
	
#price .aroma-container {
  height: 900px;

}

#price .body-container {
  height: 1250px;

}

	
#price .facial-col .col-md-5 {
	height: 300px;
}
	
#price .aroma-col .col-md-5 {
	height: 300px;
}
	
#price .body-col .col-md-5 {
	height: 350px;
}
	
#price .time {
  font-size: 0.9rem;
  /*margin-right: 1rem;*/
}

#price .price {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1rem;
}

	
#price .table {
  width: 65%;

}

#price .table-1 {
  width: 120%;
}
	
	
	
.shira-hukidashi {   /*フェイシャルのしらのコンテナ*/
  top: 5px;
	
}

	
/*--------------------------------------------------
#　料金/フェイシャルメニュー/左
--------------------------------------------------*/

.facial-pos-l {
  top: -190px;
}

/*--------------------------------------------------
#　料金/フェイシャルメニュー/右
--------------------------------------------------*/
 
.facial-pos-r {
  top: -220px;
  left: 70px;

}

/*--------------------------------------------------
#　料金/アロマメニュー/吹き出し左・右
--------------------------------------------------*/

.aroma-pos-l {
  top: -225px;
}

.aroma-pos-r {
  top: -240px;
  left: 70px;
}

.shira-hukidashi-1	{   /*アロマのしらのコンテナ*/
  top: 5px!important;
}

	
	
/*--------------------------------------------------
#　料金/痩身メニュー/左
--------------------------------------------------*/

.body-pos-l {
  top: 85px;
  left: 100px;
}



.body-pos-c {
  top: 100px;
  right: 125px;
	
}



/*--------------------------------------------------
#　料金/痩身メニュー/右
--------------------------------------------------*/

.body-pos-r {
  top: 65px;
  right: 100px;
	
}
		

#price img[src$="img/deco_r.png"]	{
  		transform: rotate(-15deg) translateY(-30px) translateX(15px);
	}

	
/*--------------------------------------------------
#　料金/メニュー/しらす
--------------------------------------------------*/

.shira-container {  /*痩身のしらのコンテナ*/
	top: -60px;

}

.shira-text-1 {
  font-size: 0.6rem;
  position: absolute;
  transform: rotate(15deg);
  right: 0px;
  top: -10px;
}

.shira-image-1 {  /*しらの画像*/
	width: 20%;
	text-align: right;

}

/*--------------------------------------------------
#　Slim/メニュー/きち
--------------------------------------------------*/

#slim .kichi-container {
	top: 25px

}

#slim .kichi {
  z-index: 1;
  top: -10px;
}

#slim .kichi-image {
  width: 20%;

}

#slim .kichi-text-l {
  font-size: 0.8rem;
  top: 45px;
  right: 25px;
}


#slim .kichi .kichi-text-c {
  font-size: 0.6rem;
  margin-bottom: 0px;
  left: 10px;
  top: -5px; 	
}

#slim .kichi-text-r {
  font-size: 0.8rem;
  top: 45px;
  right: 35px;

}

/*--------------------------------------------------------------
# Googleマップ用レイアウト
--------------------------------------------------------------*/
section#map div {
	padding-top: 0px;
}
section#map .embed-responsive-16by9 {
  padding-top: 40%;     /* 16:9のアスペクト比を調整 */
}


/*--------------------------------------------------
#　アクセス
--------------------------------------------------*/
	
.inquiry-box {
	margin-top: 1.5rem;
}

#address .btn-inquiry {
width: 100%;
margin-right: 0rem;
}   


#address .btn-reserv {
width: 100%;
margin-left: 0rem;
}   



.logoname {
  font-family:'APJapanesefontT';
	font-size: 2.1rem;


}

	
	
}


@media (max-width: 375px){ /*iPhone12mini*/
.table th,
.table td {
  padding: 0.5rem;
  border: none;

}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 2px;  /* 5px の値を変更 */
}
	
	
h4 {
	font-size: 1.1rem;
}
	
#price .time {
  font-size: 0.8rem;
  /*margin-right: 1rem;*/
}

#price .price {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1rem;
}

#price .aroma-col .col-md-5 {
	height: 280px;
}
	
#price .aroma-container {
  height: 850px;

}

#price .body-container {
  height: 1150px;

}


#price .table-1 {
  width: 130%;
}
	
	
#price .body-col .col-md-5 {
	height: 320px;
}
	
	
	
.shira-hukidashi {   /*フェイシャルのしらのコンテナ*/
  top: -20px;
	
}

	
/*--------------------------------------------------
#　料金/フェイシャルメニュー/左
--------------------------------------------------*/

.facial-pos-l {
  top: -170px;
  left: 60px;
}

/*--------------------------------------------------
#　料金/フェイシャルメニュー/右
--------------------------------------------------*/
 
.facial-pos-r {
  top: -200px;
  left: 60px;

}
	
/*--------------------------------------------------
#　料金/アロマメニュー/吹き出し左・右
--------------------------------------------------*/

.aroma-pos-l {
  top: -200px;
  left: 60px;
}

.aroma-pos-r {
  top: -220px;
  left: 60px;
}

.shira-hukidashi-1	{   /*アロマのしらのコンテナ*/
  top: -5px!important;
}

	
/*--------------------------------------------------
#　料金/痩身メニュー/左
--------------------------------------------------*/

.body-pos-l {
  top: 75px;
  left: 100px;
}



.body-pos-c {
  top: 90px;
  right: 120px;
	
}


/*--------------------------------------------------
#　料金/痩身メニュー/右
--------------------------------------------------*/

.body-pos-r {
  top: 55px;
  right: 110px;
  z-index: 2;
	
}
		

#price img[src$="img/deco_r.png"]	{
  		transform: rotate(-15deg) translateY(-30px) translateX(15px);
	}


.shira-container {  /*痩身のしらのコンテナ*/
	top: -65px;
}
	
	
	
	
/*--------------------------------------------------
#　Slim/メニュー/きち
--------------------------------------------------*/


#slim .kichi-container {
	top: 25px

}

#slim .kichi {
  z-index: 1;
  top: -10px;
}

#slim .kichi-image {
  width: 22%;

}

#slim .kichi-text-l {
  top: 38px;
  right: 23px;
}


#slim .kichi .kichi-text-c {
  left: 10px;
  top: -5px; 	
}

#slim .kichi-text-r {
  top: 38px;
  right: 25px;

}

/*--------------------------------------------------------------
# Googleマップ用レイアウト
--------------------------------------------------------------*/
section#map div {
	padding-top: 0px;
}
section#map .embed-responsive-16by9 {
  padding-top: 40%;     /* 16:9のアスペクト比を調整 */
}

/*--------------------------------------------------
#　アクセス
--------------------------------------------------*/
	
.inquiry-box {
	margin-top: 1.5rem;
}

#address .btn-inquiry {
width: 100%;
margin-right: 0rem;
}   


#address .btn-reserv {
width: 100%;
margin-left: 0rem;
}   



.logoname {
  font-family:'APJapanesefontT';
	font-size: 2.1rem;


}



}



@media (max-width: 320px){ /*iPhone5*/
h4 {
	font-size: 1rem;
}
	
#price .time {
  font-size: 0.7rem;
  /*margin-right: 1rem;*/
}

#price .price {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
}

	
.table th,
.table td {
  padding: 0.5rem;
  border: none;

}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 2px;  /* 5px の値を変更 */
}
	
	
	
#price .table {
  width: 70%;
}

#price .table-1 {
  width: 160%;
}
	
#price .facial-col .col-md-5 {
	height: 220px;
}

#price .aroma-col .col-md-5 {
	height: 220px;
}

#price .body-col .col-md-5 {
	height: 280px;
}

#price .aroma-container {
  height: 700px;

}

#price .body-container {
  height: 980px;

}
	
.shira-text-1 {
  font-size: 0.5rem;
  top: -15px;
}
	
	
/*--------------------------------------------------
#　料金/フェイシャルメニュー/左
--------------------------------------------------*/

.facial-pos-l {
  top: -150px;
  left: 45px;
}

/*--------------------------------------------------
#　料金/フェイシャルメニュー/右
--------------------------------------------------*/
 
.facial-pos-r {
  top: -175px;
  left: 50px;

}
	
.shira-hukidashi {   /*フェイシャルのしらのコンテナ*/
  top: 10px;
	
}

/*--------------------------------------------------
#　料金/アロマメニュー/吹き出し左・右
--------------------------------------------------*/

.aroma-pos-l {
  top: -180px;
  left: 45px;
}

.aroma-pos-r {
  top: -195px;
  left: 45px;
}

.shira-hukidashi-1	{   /*アロマのしらのコンテナ*/
  top: 5px!important;
}
	
/*--------------------------------------------------
#　Slim/メニュー/きち
--------------------------------------------------*/

#slim .kichi-image {
  width: 22%;

}

#slim .kichi-text-l {
  font-size: 0.7rem;
  top: 32px;
  right: 15px;
}


#slim .kichi .kichi-text-c {
  left: 10px;
  top: -5px; 	
}

#slim .kichi-text-r {
  font-size: 0.7rem;
  top: 32px;
  right: 20px;

}

/*--------------------------------------------------
#　料金/痩身メニュー/左
--------------------------------------------------*/

.body-pos-l {
  top: 60px;
  left: 80px;
}



.body-pos-c {
  top: 75px;
  right: 115px;
	
}


/*--------------------------------------------------
#　料金/痩身メニュー/右
--------------------------------------------------*/

.body-pos-r {
  top: 45px;
  right: 120px;
  z-index: 2;
	
}	

.shira-container {  /*痩身のしらのコンテナ*/
	top: -70px;
}
	
	
/*--------------------------------------------------------------
# Googleマップ用レイアウト
--------------------------------------------------------------*/
section#map div {
	padding-top: 0px;
}
section#map .embed-responsive-16by9 {
  padding-top: 40%;     /* 16:9のアスペクト比を調整 */
}


/*--------------------------------------------------
#　アクセス
--------------------------------------------------*/
	
.inquiry-box {
	margin-top: 1.5rem;
}

#address .btn-inquiry {
width: 100%;
margin-right: 0rem;
}   


#address .btn-reserv {
width: 100%;
margin-left: 0rem;
}   



.logoname {
  font-family:'APJapanesefontT';
	font-size: 2.1rem;


}

	
	
}


