<div class="container">	 
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.html"><img src="images/logo.png" style="width: 120px; height: auto;" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="index.html" class="nav-link">ホーム</a>
          </li>
          <li class="nav-item">
            <a href="about/index.html" class="nav-link">プロフィール</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">メニュー</a>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <a href="menu/facial.html" class="dropdown-item">フェイシャル</a>
              <div class="dropdown-divider"></div>
              <a href="menu/aroma.html" class="dropdown-item">アロマトリートメント</a>
              <div class="dropdown-divider"></div>
              <a href="menu/body.html" class="dropdown-item">痩身エステ</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="access/index.html" class="nav-link">アクセス</a>
          </li>
          <li class="nav-item">
            <a href="inquiry/index.html" class="nav-link">お問い合わせ</a>
          </li>
          <li class="nav-item">
            <a href="reserve/index.html" class="nav-link">ご予約</a>
          </li>
        </ul>
      </div>
    </nav>
</div>	
